@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --yellow-light: #efd134;
  --yellow-medium: #f5a623;
  --yellow-dark: linear-gradient(to right, #fcb51f, #f0ce30);
  --purple-light: #7a3bf5;
  --purple-medium: #1e0f35;
  --purple-dark: linear-gradient(to right, #7942d1, #2a1647);
  --purple-dark-1: #7942d1;
  --purple-dark-2: #2a1647;
  --yellow-dark-1: #efd134;
  --yellow-dark-2: #f5a623;
  --purple-bg-shadow: #7942d11f;
  --success: #0bb411;
  --white: #fff;
  --black: #000;
  --red: red;
  --fade-black: #09090b;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f0f3;
    --foreground: #3f3f46b2;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f0f3;
    --foreground: #3f3f46b2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  font-family: theme("fontFamily.sans");
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .light {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
.moduleadmin{
  width:100%;
  @media (min-width: 1025) {
    width:70%;
  }
  @media (min-width: 1441) {
    width:50%;
  }
}


.all-venues-text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
}

.swal-custom-popup {
  z-index: 9999 !important;
}

.swal2-container {
  z-index: 9999 !important;
}

/* const alertStyles = `
  .swal-custom-popup {
    z-index: 99999 !important;
  }
  
  .swal2-container {
    z-index: 99999 !important;
    position: fixed !important;
  }
  
  .swal2-popup {
    z-index: 99999 !important;
  }
`; */